<div>
  <form (ngSubmit)="submitPost(f)" #f="ngForm">
    <div class="form-group">
      <label class="label">
        title:
      </label>
      <input type="text" class="form-control" placeholder="title" id="title" ngModel name="title" required>
    </div>
    <div class="form-group">
      <label class="label">
        text:
      </label>
      <input type="text" class="form-control" placeholder="text" id="text" ngModel name="text" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>